/* Write some CSS below */
body{
	background-color:rgb(238, 238, 238);
	font-family: arial;
}
h1{
	color:hotpink;
	letter-spacing: 5px;
}
h2{
	color:rgb(33, 60, 81);
  font-family: arial;
  font-weight: 400;
  font-style: normal;
}
h3{
	color:rgb(33, 60, 81);
  font-family: arial;
  font-weight: 400;
  font-style: normal;
}
h4{
	color:rgb(33, 60, 81);
  font-family: arial;
  font-weight: 400;
  font-style: normal;
a{
	text-decoration: none;
} 

